@charset "UTF-8";

body {
    font-size: 20px;
    background-image:linear-gradient(to right, floralwhite, #809bce);
    font-family: Arial, Helvetica, sans-serif;
}


img{
    border-radius: 80px;
    border: 10px solid #eac4d5;
    margin-left: 10px;
}

ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#info{
    margin-left: 20px;
}

#pagfinal{
    text-align: center;
}
