@charset "UTF-8";

body {
    text-align: center;
    font-size: 20px;
    background-color: floralwhite;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}


.divv{
    justify-content: space-between;
    display: inline-block;
}


div > p {
    display:none;
}

div:hover > p {
    display:block;
}

.imgg{
    border-radius: 90px;
    border: 6px solid #d6e6ff;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    color: #809bce;
    text-align: center;
    margin: auto;
}

header{
    display: flex;
    height: 90px;
}

#botao{
    margin-left: 1050px;
    justify-content: end;
    top: 4%;
}

span{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 6%;
}

.mid{
    font-family: 'Times New Roman', Times, serif;
    color: #809bce;
    text-align: center;
    margin: auto;
}
