@charset "UTF-8";

body {
    font-size: 20px;
    background-color: floralwhite;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}


p{
    text-align: center;
}

h3{
    text-align: center;
}

span{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 6%;
}

header > div{
    height:90px;
}

a{
    text-decoration: none;
}

a:hover{
    background-color: chocolate;
    text-decoration: dotted;
}

ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}


.texto{
    text-align: left;
}

footer{
    font-size: 16px;
}


