body {
    font-size: 20px;
    background-color: floralwhite;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}

ul{
    list-style-type: none;
}

h1{
text-align: center;

}

a{
    text-decoration: none;
}

.tdo{
    position:absolute;
    top: 50%;
    left: 50%;
    transform:
    translate(-50%, -50%);
}

header{
    display: flex;
    height: 90px;
}

#botao{
    margin-left: 1050px;
    justify-content: end;
    top: 4%;
}

span{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 6%;
}

.mid{
    font-family: 'Times New Roman', Times, serif;
    color: #809bce;
    text-align: center;
    margin: auto;
}

